/*
 * Empty Stylesheet file.
 */

#titulo{
    -fx-font-size: 40pt;
    -fx-text-fill:  white;
}

#add{
    -fx-graphic: url('/com/view/icons/add.png');
}

#del{
    -fx-graphic: url('/com/view/icons/del.png');
}
#edit{
    -fx-graphic: url('/com/view/icons/edit.png');
}
#exit{
    -fx-graphic: url('/com/view/icons/exit_black.png');
}

.button{
    background-color: black;
}
.containers{
    -fx-border-color: gray;
    -fx-border-width: 5;
}

#top{
    -fx-background-color: lightgrey;
    -fx-alignment: center;
}

#buttons{
    -fx-padding: 10;
    -fx-spacing: 10;
}